<div class="row text-center py-4">
    <div class="mx-auto mt-2">
        {% include figure.liquid path="assets/img/firebolt.svg" title="example image" class="p-2 rounded " height="60px"
        width="60px" %}
        <div class="institution" style="font-size: 11px;">Firebolt</div>
        <div class="years" style="font-size: 11px;">S2024</div>
    </div>
    <div class="mx-auto mt-2">
        {% include figure.liquid path="assets/img/cmu.png" title="example image" class="p-2 rounded " height="60px"
        width="60px" %}
        <div class="institution" style="font-size: 11px;">Carnegie Mellon University</div>
        <div class="years" style="font-size: 11px;">2023 - Present</div>
    </div>
    <div class="mx-auto mt-2">
        {% include figure.liquid path="assets/img/quadeye.jpeg" title="example image" class="p-2 rounded " height="50px"
        width="140px" %}
        <div class="institution" style="font-size: 11px;">Quadeye</div>
        <div class="years" style="font-size: 11px;">2020 - 2023</div>
    </div>
    <div class="mx-auto mt-2">
        {% include figure.liquid path="assets/img/iitg.png" title="example image" class="p-2 rounded " height="60px"
        width="60px" %}
        <div class="institution" style="font-size: 11px;">Indian Institute of Technology Guwahati</div>
        <div class="years" style="font-size: 11px;">2016 - 2020</div>
    </div>
    <div class="mx-auto mt-2">
        {% include figure.liquid path="assets/img/samsung.png" title="example image" class="p-2 rounded " height="60px"
        width="150px" %}
        <div class="institution" style="font-size: 11px;">Samsung Research</div>
        <div class="years" style="font-size: 11px;">S2019</div>
    </div>
    <div class="mx-auto mt-2">
        {% include figure.liquid path="assets/img/sssvv.png" title="example image" class="p-2 rounded " height="60px"
        width="60px" %}
        <div class="institution" style="font-size: 11px;">Sri Sathya Sai Vidya Vihar</div>
        <div class="years" style="font-size: 11px;">2002 - 2016</div>
    </div>

</div>